section.about
    div.wrapper

        p Amet eos cum rerum natus minus dolor? Rerum quia vero est sit consectetur fugit amet error id. Aliquid repellendus sit totam sequi repudiandae tenetur dolores. Sit explicabo aperiam nam cumque rem quibusdam corporis ab, accusantium. Alias voluptates voluptas amet optio sed accusamus. Nobis voluptatum repellendus.
