section.endpoints

    h2.endpoints__heading Endpoints

    div.wrapper

        ul.endpoints__list#charactersList
            li GET      /api/characters
            li GET      /api/characters/id
            li POST     /api/characters
            li PUT      /api/characters/id
            li PATCH    /api/characters/id
            li DELETE   /api/characters

        ul.endpoints__list#novelsList
            li GET      /api/novels
            li GET      /api/novels/id
            li GET      /api/novels/id/characters
            li POST     /api/novels
            li PUT      /api/novels/id
            li PATCH    /api/novels/id
            li DELETE   /api/novels

        ul.endpoints__list#authorsList
            li GET      /api/authors
            li GET      /api/authors/id
            li GET      /api/authors/id/novels
            li POST     /api/authors
            li PUT      /api/authors/id
            li PATCH    /api/authors/id
            li DELETE   /api/authors
