section.endpoints

    h2.endpoints__heading Endpoints

    div.wrapper

        ul.endpoints__list#charactersList

            li.list-title Characters

            li GET
                span /api/characters

            li GET
                span /api/characters/id

            li POST
                span /api/characters

            li PUT
                span /api/characters/id

            li PATCH
                span /api/characters/id

            li DELETE
                span /api/characters

        ul.endpoints__list#novelsList

            li.list-title Novels

            li GET
                span /api/novels

            li GET
                span /api/novels/id

            li GET
                span /api/novels/id/characters

            li POST
                span /api/novels

            li PUT
                span /api/novels/id

            li PATCH
                span /api/novels/id

            li DELETE
                span /api/novels

        ul.endpoints__list#authorsList

            li.list-title Authors

            li GET
                span /api/authors

            li GET
                span /api/authors/id

            li GET
                span /api/authors/id/novels

            li POST
                span /api/authors

            li PUT
                span /api/authors/id

            li PATCH
                span /api/authors/id

            li DELETE
                span /api/authors
