section.examples

    h2.examples__heading Examples

    article.examples__example

        h3 <span>GET</span> /api/novels/id

        pre
            span fetch('https://wintermute.design/api/novels/1', {
            span   method: 'GET'
            span })
            span .then( response => // do something with the response )
            span .catch( error  =>  // do somethong with the error )

    article.examples__example

        h3 <span>POST</span> /api/novels

        pre
            p // The resource will not be created in the server but will be returned as if.

            span fetch('https://wintermute.design/api/novels', {
            span   method: 'POST',
            span   body: JSON.stringify({
            span       name: "Idoru",
            span       year: 1996,
            span       authorId: 1 // William Gibson
            span   })
            span })
            span .then( response => // do something with the response )
            span .catch( error  =>  // do somethong with the error )

    article.examples__example

        h3 <span>PUT</span> /api/novels/id

        pre

            p // The resource will not be updated in the server but will be returned as if.

            span fetch('https://wintermute.design/api/novels/1', {
            span   method: 'PUT',
            span   body: JSON.stringify({
            span       name: "Neuromancer",
            span       year: 1982,
            span       authorId: 1 // William Gibson
            span   })
            span })
            span .then( response => // do something with the response )
            span .catch( error  =>  // do somethong with the error )

    article.examples__example

        h3 <span>PATCH</span> /api/novels/id

        pre
            p // The resource will not be patched in the server but will be returned as if.

            p
                | // At the time of writing, the fetch api does not support PATCH requests, so this example will use the
                | jQuery.ajax method.

            span $.ajax('https://wintermute.design/api/novels/1', {
            span   method: 'PATCH',
            span   body: {
            span       year: 1984
            span   }
            span })
            span .then( response => // do something with the response )


    article.examples__example

        h3 <span>DELETE</span> /api/novels/id

        pre

            p // The resource will not be deleted in the server. a 204 status code will be returned.

            span fetch('https://wintermute.design/api/novels/1', {
            span   method: 'DELETE',
            span })
            span .then( response => // do something with the response )
            span .catch( error  =>  // do somethong with the error )
