html
    include ./includes/head.pug

    body

        include ./sections/header

        main
            include ./sections/about
            include ./sections/endpoints
            include ./sections/examples

        include ./sections/footer

        script(src="/public/js/app.js")
