section.endpoints

.endpoints ul
    list-style: none

.endpoints ul li
    margin-bottom: .4em

    &:before
        content: "* "

.endpoints .wrapper
    display: flex
    justify-content: space-between
