@import "header"
@import "about"
@import "endpoints"
@import "examples"
@import "footer"

section h2
    margin-bottom: 1.2em

main
    max-width: 62em
    margin: 0 auto

section
    margin-bottom: 2em
