@import "header"
@import "about"
@import "endpoints"
@import "examples"
@import "footer"

main, header
    max-width: 62em
    margin: 0 auto

section
    margin-bottom: 2em

    &:last-child
        margin-bottom: 0

section h2
    margin-bottom: 1.2em
    color: white

